@import url("https://fonts.googleapis.com/css2?family=Geo:ital@0;1&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat&family=Orbitron:wght@400..900&display=swap");

.greyContainer {
  background-color: #2f2f2f;
  padding: 20px;
  border-radius: 8px;
  width: auto;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.title {
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  width: 100%;
  margin: 0;
  font-family: "Geo", serif;
  color: rgb(0, 169, 165);
}
.categoryTitle {
  font-size: 22px;
  font-weight: 600;
  color: rgb(184, 0, 174);
  margin-bottom: 5px;
  padding: 10px;
  font-family: "Kanit", serif;
  text-align: center;
}
.categoryTitle:hover {
  cursor: pointer;
}
.categoryText {
  flex-grow: 1;
  font-size: 20px;
  color: white;
  max-width: 900px;
  font-family: "Kanit", serif;
  text-align: center;
}

.form {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: left;
}

.formGroup {
  margin-bottom: 15px;
}

.label {
  font-size: 16px;
  color: #fff;
  margin-bottom: 8px;
  display: block;
  text-align: left;
}

.input,
.textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  color: #333;
  background-color: #fff;
}

.input:focus,
.textarea:focus {
  border-color: #00a9a5;
  outline: none;
}

.textarea {
  resize: vertical;
  height: 150px;
}

.submitButton {
  background-color: rgb(184, 0, 174);
  font-family: "Kanit", serif;
  color: white;
  font-size: 18px;
  padding: 8px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  align-self: center;
}

.submitButton:hover {
  background-color: rgb(0, 169, 165);
}

.submitButton:active {
  background-color: rgb(0, 169, 165);
}

.thankyouMessage {
  font-family: "Kanit", serif;
  color: rgb(184, 0, 174);
  font-size: 16px;
}
