@import url("https://fonts.googleapis.com/css2?family=Geo:ital@0;1&family=Montserrat&family=Orbitron:wght@400..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Geo:ital@0;1&display=swap");

.mainContainer {
  display: flex;
  width: 100%;
  margin: 40px;
}

.title {
  color: white;
  font-family: "Kanit";
  font-size: 30px;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;
}

.containerFakePicture {
  width: 260px;
  height: 210px;
  margin-right: 50px;
  margin-left: 100px;
  margin-top: 70px;
}

.fakePicture {
  width: 250px;
  height: 200px;
}

.containerDescription {
  width: 50%;
}

.descriptionName {
  color: white;
  font-family: "Kanit";
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 0;
}

.detailDescription {
  color: white;
  font-family: "Kanit";
  font-weight: lighter;
  font-size: 25px;
  /* display: flex; */
  /* align-items: center; */
  /* justify-content: flex-start; */
  margin: 0;
  margin-right: 10%;
}

.containerNames {
  display: flex;
  flex-direction: column;
  justify-self: right;
  margin-left: 30px;
  margin-right: 30px;
}

.detailName {
  color: white;
  font-family: "Kanit";
  display: flex;
  align-items: right;
  justify-content: flex-start;
  margin: 0;
}

.details {
  color: white;
  display: flex;
  flex-direction: column;
  font-family: "Kanit";
  font-weight: lighter;
  font-size: 20px;
  margin: 0;
  margin-bottom: 20px;
}
