@import url("https://fonts.googleapis.com/css2?family=Geo:ital@0;1&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat&family=Orbitron:wght@400..900&display=swap");

.greyContainer {
  background-color: #2f2f2f;
  padding: 20px;
  border-radius: 8px;
  width: auto;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  width: 100%;
  margin: 0;
  font-family: "Geo", serif;
  color: rgb(0, 169, 165);
}

.content {
  flex-grow: 1; /* This makes the content take up the available space */
  padding: 20px;
  font-size: 20px;
  color: white;
  text-align: center;
  max-width: 900px;
  margin: 0 auto;
  font-family: "Kanit", serif;
}
.gamename {
  flex-grow: 1;
  padding: 0;
  font-size: 20px;
  color: rgb(184, 0, 174);
  text-align: center;
  max-width: 900px;
  margin: 0;
  font-family: "Kanit", serif;
}
