@import url('https://fonts.googleapis.com/css2?family=Geo:ital@0;1&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat&family=Orbitron:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Geo:ital@0;1&family=Montserrat&family=Orbitron:wght@400..900&display=swap');

.content {
  flex-grow: 1; /* This makes the content take up the available space */
  padding: 30px;
  font-size: 20px;
  color: white;
  text-align: center;
  max-width: 700px; 
  margin: 0 auto;
  font-family: "Kanit", serif;
}

.greyContainer {
  background-color: #2F2F2F;
  padding: 20px;
  border-radius: 8px;
  width: 80%;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  
 }

.imageContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap:10px;
  width: 100%;
}

.title {
  font-size: 40px; 
  font-weight: bold; 
  text-align: center;
  width: 100%;
  margin: 0;
  font-family: "Geo", serif;
  color: rgb(0, 169, 165);
  /*text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); */
}
 
.flag {
  width: 250px; 
  height: 200px;                   
  margin: 5px;
  box-shadow: 5px 5px rgb(184, 0, 174);
  }

.caption {
    display: flex;
    justify-content: space-between;
    font-size: 14px; 
    color: white;
    text-align: center; 
    margin-top: 4px;
    padding: 0 5px;
    font-family: "Kanit", serif;

}


  

