@import url("https://fonts.googleapis.com/css2?family=Geo:ital@0;1&family=Montserrat&family=Orbitron:wght@400..900&display=swap");
.navbar {
  background: linear-gradient(135deg, rgb(184, 0, 174), rgb(0, 169, 165));
  color: white;
  padding: 1rem;
  max-width: 1000px;
  margin: 0 auto;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19);
  font-family: "Geo", serif;
  opacity: 0.4;
}

.navbar ul {
  list-style-type: none;
  display: flex;
  gap: 3rem;
  justify-content: center; /* Center the items horizontally */
  padding: 0;
  margin: 0;
}

.navbar li a {
  color: white;
  font-size: 2rem;
  text-decoration: none;
}

.navbar li a:hover {
  color: white; /* Text color on hover */
}

/* Mobile Responsiveness */
@media (max-width: 768px) {
  .navbar ul {
    flex-direction: column;
    align-items: center;
  }
}
