@import url("https://fonts.googleapis.com/css2?family=Geo:ital@0;1&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat&family=Orbitron:wght@400..900&display=swap");

.greyContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  max-width: 1200px;
  width: 100%;
}

.gamesGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  list-style-type: none;
  padding: 0;
  width: 100%;
  justify-items: center;
}

.gameItem {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 230px;
  height: fit-content;
  margin: 0 auto;
}

.gameItem a {
  text-decoration: none;
}

.gameCover {
  position: relative;
  display: flex;
  max-width: 230px;
  border-radius: 8px;
  height: auto;
  overflow: hidden;
}

.gameCover img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  border-radius: 8px;
}

.gameCover::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 8px;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  z-index: 1;
}

.gameItem:hover .gameCover::after {
  opacity: 1;
}

.gameTitle {
  font-family: "Kanit", serif;
  color: white;
  text-align: center;
  margin-bottom: 0px;
}

.releaseYear {
  font-family: "Kanit", serif;
  color: white;
  text-align: center;
  margin-top: 0px;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
  font-family: "Kanit", serif;
  color: white;
  font-size: 20px;
}
.pagination span {
  margin: 0 10px; 
 
}

.submitButton {
  background-color: rgb(184, 0, 174);
  font-family: "Kanit", serif;
  color: white;
  font-size: 18px;
  padding: 8px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  align-self: center;
}

.submitButton:hover {
  background-color: rgb(0, 169, 165);
}

.submitButton:active {
  background-color: rgb(0, 169, 165);
}

/* Disabled state */
.submitButton:disabled {
  background-color: #ccc; 
  cursor: not-allowed; 
}