html, body, #root {
  height: 100%;
  margin: 0;
  width: 100%;
  padding: 0;
}

body {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  background-color: #242424;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Ensure the app fills the whole screen */
  overflow-x: hidden; /* Prevent horizontal scroll */
}

#root {
  display: flex;
  flex-direction: column;
  flex: 1;
}
